In [ ]:
oz_tuple = (1, 2, 3)

print(oz_tuple)
print(oz_tuple[0])
print(oz_tuple[1])
print(oz_tuple[2])

In [ ]:
# 튜플에 데이터를 변경은 불가하므로 아래 코드 실행 시 오류가 발생합니다.
oz_tuple = [2] = 5

In [3]:
oz_tuple = 1, 2, 3, 4

print("oz_tuple: ", oz_tuple)
print("oz_tuple type: ", type(oz_tuple))

oz_tuple:  (1, 2, 3, 4)
oz_tuple type:  <class 'tuple'>

In [4]:
x, y, z = 1, 2, 3
print(x)
print(y)
print(z)

1
2
3

In [6]:
x, y = 1, 2

print("x: ", x)
print("x: ", y)
print()

x, y = y, x
print("x: ", x)
print("y: ", y)

x:  1
x:  2

x:  2
y:  1

In [8]:
def oz_tuple():
    return (1, 2)

x, y = oz_tuple()
print("x: ", x)
print("y: ", y)

x:  1
y:  2

In [9]:
# 튜플을 이요한 내부함수들
# enumerate()의 i, fruit는 (i, fruit)이나 괄호를 생략한 상태

for i, fruit in enumerate([1,2,3,4]):
    print(i, fruit)

0 1
1 2
2 3
3 4

In [10]:
# divmode() 사용 시 튜플 형태로 몫과 나머지를 변환
a, b = 7, 3
x, y = divmod(a, b)
print("몫:", x)
print("나머지:", y)

몫: 2
나머지: 1

튜플의 특징에 대해 설명해주세요 :
1. 튜플은 소괄호()를 사용합니다.
2. 다양한 데이터의 타입을 저장할 수 있습니다. (정수, 문자열, 리스트 등..)

괄호없이 여러개의 값을 할당하는 코드 작성법에 대해 설명해주세요 :
(기본 다중 할당)
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

(값 교환하기)
x, y = 10, 20
x, y = y, x
print(x)
print(y)